body {
	margin: 15px;
}

form {
	width: 50%;
}

.inputContainer {
	margin-bottom: 1em;
}

.answer {
	width: 25%;
}

.removeQuestion {
	color: red;
}

.resultContainer {
	margin-bottom: 1em;
}

.resultContainer p {
	margin: 0;
}